# Rust
./contract-rs/target/
./contract-rs/Cargo.lock

# TypeScript - Sandbox
./contract-ts/sandbox-ts/package-lock.json
./contract-ts/sandbox-ts/node_modules/

# TypeScript
./contract-ts/build/
./contract-ts/node_modules/
./contract-ts/sandbox-ts/node_modules/
./contract-ts/sandbox-ts/yarn.lock
./contract-ts/yarn.lock
./contract-ts/package-lock.json

# Frontend
./frontend/dist/
./frontend/node_modules/
./frontend/.parcel-cache
./frontend/yarn.lock
./frontend/package-lock.json